* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.col {
  background-color: blue;
  // width: calc(100% / var(--columnsDesktop));
  height: random(100) + px;
}
